.PostSignup .nav-links a {
    color: black;
}

.PostSignup a.btn-dark {
    border: 2px solid black;
}

.PostSignup .logo-text {
    color: black;
    font-weight: 550;
}

#post_signup {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 5rem;
    font-weight: 700;
    padding-left: 10%;
    padding-right: 10%;
}  