.postLogin .navbar {
  position: relative;
  left: 18vw
}
.postLogin .container {
  margin: 0;
  max-width: 70vw;
}
.postLogin .nav-links a {
    color: black;
    font-size: 1.8rem;
    font-weight: 500;
  }

.postLogin a.btn-dark {
  border: 2px solid black;
}

.postLogin .logo-text {
  color: black;
  font-weight: 550;
}

#test {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 5rem;
    font-weight: 700;
}

.postLogin {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.postLogin .website_container {
  position: absolute;
  width: 20vw;
  height: 70vh;
  margin-left: 8vw;
  margin-top: 6vh;
  background-color: #444444;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: solid 7px orangered;
}

.postLogin .add_password_container {
  position: absolute;
  width: 56vw;
  height: 70vh;
  left: 31vw;
  margin-top: 6vh;
  background-color: gray;
  border-radius: 30px;
  padding-left: 2vw;
  padding-top: 2vh;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.35), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: solid 7px orangered;
  transform: translateY(-100vh);
  transition: 1s 0.1s cubic-bezier(0.35, 0, 0.07, 1);

  color: white;
  font-weight: 700;
  font-size: 3rem;
}
.postLogin .add_password_container.add_password {
  transform: none !important;
}

.postLogin .password_container {
  position: absolute;
  width: 56vw;
  height: 70vh;
  left: 31vw;
  margin-top: 6vh;
  border-radius: 30px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.35), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 1s 0.1s cubic-bezier(0.35, 0, 0.07, 1);
  box-sizing: border-box;
  background-color: gray;
  border: solid 7px orangered;
}
.postLogin .password_container .account_container {
  position: relative;
  width: 20vw;
  height: 68.5vh;
  background-color: #444444;
  border-radius: 20px;
  outline: solid 6px orangered;
}
.postLogin .password_container .account_container .list_account_cont {
  position: relative;
  height: 91.7%;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: auto;

  color: white;
  font-weight: 700;
  font-size: 3rem;
}
.postLogin .password_container .account_container .list_account {
  position: relative;
  height: 100%;
  width: 94%;
  background-color: darkgray;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;

  color: white;
  font-weight: 700;
  font-size: 3rem;
}

.postLogin .password_container.add_password {
  transform: translateY(100vh) !important;
}


.titre_website {
  color: white;
  font-weight: 700;
  font-size: 3rem;
  padding-left: 2vw;
  padding-top: 1.4vh;
  margin-bottom: 0.8vh;
}

.postLogin .website_container .liste_website {
  position: relative;
  height: 91.5%;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1vh;

  color: white;
  font-weight: 700;
  font-size: 3rem;
}

.postLogin .website_container .list_site_cont {
  position: relative;
  height: 98.5%;
  width: 100%;
  background-color: darkgray;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;

  color: white;
  font-weight: 700;
  font-size: 3rem;
}

.postLogin .website_container .list_site_marg {
  position: relative;
  height: 6.5%;
  width: 100%;
  background-color: darkgray;
  border-radius: 20px 20px 0 0;
  margin-top: 1vh;
  padding-top: 4vh;
}

.postLogin .website_container .list_site_cont .site {
  margin-bottom: 1vh;
  cursor: pointer;
}

/* .postLogin .website_container .list_site_cont .site:hover {
  color: orangered;
} */

.postLogin .encoche {
  position: absolute;
  background-color: white;
  width: 4.5vh;
  height: 3.2vh;
  z-index: 2;
  border-radius: 0 0 180px 180px;
  cursor: pointer;
}
.list_account_cont .encoche {
  position: absolute;
  background-color: white;
  width: 4.5vh;
  height: 2.5vh;
  z-index: 2;
  border-radius: 0 0 40px 40px;
  cursor: pointer;
  transform: rotate(90deg);
  right: 1vh;
}
.postLogin .carre {
  position: absolute;
  background-color: white;
  width: 6.5vh;
  height: 1.9vh;
  z-index: 1;
}
.list_account_cont .carre {
  position: absolute;
  background-color: white;
  width: 1.7vh;
  height: 8.8vh;
  z-index: 1;
  right: 1.8vh;
}
.postLogin .encoche:before,
.postLogin .encoche:after {
  content: "";
  position: absolute;
  height: 2.13vh;
  width: 1.6vh;
  top: 1vh;
  background-color: darkgray;
  z-index: 3;
}
.postLogin .encoche:before {
  border-top-right-radius: 90%;
  left: -1.16vh;
}
.postLogin .encoche:after {
  border-top-left-radius: 90%;
  left: 4.1vh;
}
.list_account_cont .encoche:before,
.list_account_cont .encoche:after {
  content: "";
  position: absolute;
  height: 1.99vh;
  width: 3.3vh;
  top: 0.57vh;
  background-color: darkgray;
  z-index: 3;
}
.list_account_cont .encoche:before {
  border-top-right-radius: 100%;
  left: -2.59vh;
}
.list_account_cont .encoche:after {
  border-top-left-radius: 100%;
  left: 3.7vh;
}

.addButton {
  position: absolute;
  border-width: 2px;
  border-style: solid;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s all;
  z-index: 3;
  background-color: orangered;
}
.list_account_cont .addButton {
  position: absolute;
  border-width: 2px;
  border-style: solid;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s all;
  z-index: 3;
  background-color: orangered;
  right: 1vh;
}
.addButton:before,
.addButton:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 4px;
}
.addButton:before {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-left-width: 2px;
  border-left-style: solid;
  left: 7px;
  top: 3px;
}
.addButton:after {
  border-top-width: 2px;
  border-top-style: solid;
  border-right-width: 2px;
  border-right-style: solid;
  left: 3px;
  top: 7px;
}
.addButton--active {
  border-color: orangered;
}
.addButton--active:before,
.addButton--active:after {
  border-color: white;
}
.encoche:hover + .addButton {
    scale: 1.2;
}
.addButton:hover {
    scale: 1.2;
}


.postLogin .website_container .list_site_cont::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.postLogin .website_container .list_site_cont::-webkit-scrollbar-thumb {
  background-color: #444444;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid darkgray;  /* creates padding around scroll thumb */
}

.postLogin .website_container .list_site_cont .underline{
  position: relative;
}
.postLogin .website_container .list_site_cont .underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 3px;
  background-color: orangered;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  top: 4vh;
}
.postLogin .website_container .list_site_cont .underline:hover::before{
  left: 0;
  right: auto;
  width: 100%;
}
