.postLogin {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/background_postlogin.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}
.postLogin .navbar {
  position: relative;
  left: 18vw
}
.postLogin .container {
  margin: 0;
  max-width: 70vw;
}
.postLogin .nav-links a {
    color: black;
    font-size: 1.8rem;
    font-weight: 500;
  }

.postLogin a.btn-dark {
  border: 2px solid black;
}

.postLogin .logo-text {
  color: black;
  font-weight: 550;
}

#test {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 5rem;
    font-weight: 700;
}

.postLogin .website_container {
  position: absolute;
  width: 20vw;
  height: 70vh;
  margin-left: 8vw;
  margin-top: 6vh;
  background-color: #444444;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: solid 7px orangered;
}

.postLogin .add_password_container {
  position: absolute;
  width: 56vw;
  height: 70vh;
  left: 31vw;
  margin-top: 6vh;
  background-color: #444444;
  border-radius: 30px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.35), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: solid 7px orangered;
  transform: translateY(-100vh);
  transition: 750ms 0.1s cubic-bezier(0.35, 0, 0.07, 1);

  color: white;
  font-weight: 700;
  font-size: 3rem;
}
.postLogin .add_password_container.add_password {
  transform: none !important;
}

.postLogin .password_container {
  position: absolute;
  width: 56vw;
  height: 70vh;
  left: 31vw;
  margin-top: 6vh;
  border-radius: 30px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.35), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 750ms 0.1s cubic-bezier(0.35, 0, 0.07, 1);
  /* transition: transform 0.35s ease, translateX 0.95s ease; */
  box-sizing: border-box;
  background-color: white;
  /* border: solid 7px orangered; */
  padding: 6px;
  display: flex;
}
.postLogin .password_container .account_container {
  position: relative;
  width: 20vw;
  height: 68.7vh;
  background-color: #444444;
  border-radius: 20px;
  outline: solid 6px orangered;
  z-index: 2;
}
.postLogin .password_container .account_container .list_account_cont {
  position: relative;
  height: 91.7%;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow: auto;

  color: white;
  font-weight: 700;
  font-size: 3rem;
}
.postLogin .password_container .account_container .list_account {
  position: relative;
  height: 100%;
  width: 17.3vw;
  background-color: darkgray;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  padding-top: 2vh;

  color: white;
  font-weight: 700;
  font-size: 3rem;
}
.password_container .display_password_cont {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #444444;
  width: 70%;
  height: 100%;
  border-radius: 20px;
  padding-left: 3.5vw;
  padding-top: 6vh;
  border: solid 6px orangered;
  transition: all 0.25s ease;
  overflow: hidden;
  /* transform: translateX(80vw); */
}
.password_container .display_password_cont_titre {
  position: absolute;
  height: 91.5%;
  width: 90.9%;
}
.display_password_cont .titre_website {
  top: -6vh;
  position: absolute;
}
.new_password_cont .website_field {
  position: relative;
  left: 11vw;
  top: -5vh;
  height: 5vh;
  width: 20vw;
  border: none;
  border-radius: 18px 40px 40px 18px;
  padding: 0 30px;
  font-size: 2.4rem;
  font-weight: 500;
  outline-color: orangered;
  color: #444444;
}

.password_container .marge {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 14px 20px;
  padding-right: 2vh;
  padding-bottom: 2vh;
  bottom: 0;
  right: 0;
  transition: all 0.35s ease;
  transform: translateX(-40vw);
  /* z-index: -1; */
}
.add_password_container .marge {
  position: relative;
  background-color: white;
  width: 100%;
  height: 89.8%;
  border-radius: 20px 20px 20px 20px;
  padding-right: 2vh;
  padding-bottom: 2vh;
  top: -3.8vh;
  transition: all 0.35s ease;
  /* z-index: -1; */
}
.password_container .display_password_cont_titre .marge.montre_display {
  transform: none;
  z-index: 1 !important;
}
.password_container .display_password {
  position: relative;
  background-color: darkgray;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding-left: 2vw;
  padding-top: 2vh;
}
.add_password_container .display_password {
  position: relative;
  background-color: darkgray;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding-left: 3vw;
  padding-top: 2vh;
}
.display_password .titre_email {
  color: white;
  font-weight: 700;
  font-size: 3rem;

}
.display_password .email_field {
  position: relative;
  left: -1vw;
  margin-top: 2vh;
  height: 5vh;
  width: 20vw;
  border: none;
  border-radius: 18px 40px 40px 18px;
  padding: 0 30px;
  font-size: 2.4rem;
  font-weight: 500;
  outline-color: orangered;
  color: #444444;
}
.display_password .titre_password {
  margin-top: 4vh;
  color: white;
  font-weight: 700;
  font-size: 3rem;
  transition: all 0.35s ease;
  transition-delay: 350ms;

}
.display_password .password_field {
  position: relative;
  left: -1vw;
  margin-top: 2vh;
  height: 5vh;
  width: 20vw;
  border: none;
  border-radius: 18px 40px 40px 18px;
  padding: 0 30px;
  font-size: 2.4rem;
  font-weight: 500;
  outline-color: orangered;
  color: #444444;
  transition: transform 0.35s ease 250ms;
}
.display_password .btn_copy {
  position: relative;
  margin-left: 1.3vw;
  padding: 6px 0px;
  top: 0.3vh;
  outline: none;
  height: 5vh;
  text-align: center;
  width: 3vw;
  border-radius: 12px 12px 12px 12px;
  background: white;
  border: 3px solid orangered;
  color: #444444;
  font-size: 2.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease, transform 0.35s ease 250ms;
}
.display_password .btn_generate {
  width: 7vw;
  margin-left: 1vw;
}
.display_password .btn_copy.active {
  background: #444444;
  color: white;
}
.display_password .btn_copy.active:hover {
  transition: all 0.15s ease 0ms;
  /* background: white;
  color: #444444; */
  scale: 1.2;
}
.display_password .btn_copy:hover {
  transition: all 0.15s ease 0ms;
  background: #444444;
  color: white;
}
.display_password .btn_copy:active {
  transition: all 0.15s ease 0ms;
  scale: 0.8;
}
.display_password .btn_change {
  position: absolute;
  left: 1vw;
  bottom: 9vh;
  padding: 6px 0px;
  outline: none;
  height: 5vh;
  text-align: center;
  width: 120px;
  border-radius: 12px 12px 12px 12px;
  background: white;
  border: 3px solid orangered;
  color: #444444;
  font-size: 2.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease, transform 0.45s ease;
}
.add_password_container .btn_change {
  left: 2vw;
}
.display_password .btn_change:hover {
  transition: all 0.25s ease;
  transition-delay: 0ms;
  background: #444444;
  color: white;
}
.display_password .btn_change:active {
  transition: all 0.15s ease;
  transform: scale(0.8);
}
.display_password .btn_change.email_cacher:active {
  transition: all 0.15s ease;
  transform: translateY(-14vh) scale(0.8);
}
.add_password_container .btn_change.email_cacher:active {
  transition: all 0.15s ease;
  transform: translateY(-12vh) scale(0.8);
}
.display_password .btn_change.btn_cancel {
  left: 14.8vw;
}
.add_password_container .btn_change.btn_cancel {
  left: 15.8vw;
}


.password_container.transi {
  transition: all 350ms 0.1s cubic-bezier(0.35, 0, 0.07, 1);
}
.password_container.cacher {
  transition: all 350ms 0.1s cubic-bezier(0.35, 0, 0.07, 1);
  transform: translateX(80vw);
}
.display_password .cacher {
  transition: all 0.45s ease;
  transform: translateX(-32.2vw);
}
.display_password .email_cacher {
  transition: all 0.25s ease, transform 0.45s ease 250ms;
  transform: translateY(-14vh);
}
.add_password_container .email_cacher {
  transition: all 0.25s ease, transform 0.45s ease 250ms;
  transform: translateY(-12vh);
}

.postLogin .password_container.add_password {
  transform: translateY(100vh) !important;
}


.password_container .new_password_cont {
  position: absolute;
  height: 91.5%;
  width: 90.9%;
}
.add_password_container .new_password_cont {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: 0.3vh;
}
.password_container .new_password_cont .marge.montre_add {
  transform: none;
  z-index: 1 !important;
}


.titre_website {
  color: white;
  font-weight: 700;
  font-size: 3rem;
  padding-left: 3vw;
  padding-top: 1.4vh;
  margin-bottom: 0.8vh;
}
.recherche {
  position: absolute;
  color: gray;
  font-weight: 700;
  font-size: 2.5rem;
  top: 0.8vh;
  width: 18vw;
  padding: 0 1.5vw;
  outline-color: orangered;
  border-radius: 14px;
  height: 4vh;
  border: none;
  /* background-color: gray; */
  /* border: 2px #444444 solid; */
}
/* .recherche::placeholder {
  color: white;
} */

.postLogin .website_container .liste_website {
  position: relative;
  height: 91.5%;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5.5vh;

  color: white;
  font-weight: 700;
  font-size: 3rem;
}

.postLogin .website_container .list_site_cont {
  position: relative;
  height: 98.5%;
  width: 100%;
  background-color: darkgray;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;

  color: white;
  font-weight: 700;
  font-size: 3rem;
}

.postLogin .website_container .list_site_marg {
  position: relative;
  height: 6.5%;
  width: 100%;
  background-color: darkgray;
  border-radius: 20px 20px 0 0;
  margin-top: 1vh;
  padding-top: 4vh;
}
.list_account_cont .list_account_marg {
  position: relative;
  height: 100%;
  width: 1.467vw;
  background-color: darkgray;
  border-radius: 0 20px 20px 0;
}

.postLogin .website_container .list_site_cont .site {
  margin-bottom: 1vh;
  cursor: pointer;
}
.list_account .site {
  margin-top: 1vh;
  cursor: pointer;
}
/* .postLogin .website_container .list_site_cont .site:hover {
  color: orangered;
} */

.postLogin .encoche {
  position: absolute;
  background-color: white;
  width: 4.5vh;
  height: 3.2vh;
  z-index: 2;
  border-radius: 0 0 180px 180px;
  cursor: pointer;
}
.list_account_cont .encoche {
  position: absolute;
  background-color: white;
  width: 2.2vw;
  height: 1.36vw;
  z-index: 2;
  border-radius: 0 0 40px 40px;
  cursor: pointer;
  transform: rotate(90deg);
  right: 0.49vw;
}
.postLogin .carre {
  position: absolute;
  background-color: white;
  width: 6.5vh;
  height: 1.9vh;
  z-index: 1;
}
.list_account_cont .carre {
  position: absolute;
  background-color: white;
  width: 0.9vw;
  height: 4vw;
  z-index: 1;
  right: 0.9vw;
}
.postLogin .encoche:before,
.postLogin .encoche:after {
  content: "";
  position: absolute;
  height: 2.13vh;
  width: 1.6vh;
  top: 1vh;
  background-color: darkgray;
  z-index: 3;
}
.postLogin .encoche:before {
  border-top-right-radius: 90%;
  left: -1.16vh;
}
.postLogin .encoche:after {
  border-top-left-radius: 90%;
  left: 4.1vh;
}
.list_account_cont .encoche:before,
.list_account_cont .encoche:after {
  content: "";
  position: absolute;
  height: 2vw;
  width: 1.6vw;
  top: 0.33vw;
  background-color: darkgray;
  z-index: 3;
}
.list_account_cont .encoche:before {
  border-top-right-radius: 100%;
  left: -0.93vw;
}
.list_account_cont .encoche:after {
  border-top-left-radius: 100%;
  left: 1.53vw;
}

.addButton {
  position: absolute;
  border-width: 2px;
  border-style: solid;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s all;
  z-index: 3;
  background-color: orangered;
}
.list_account_cont .addButton {
  position: absolute;
  border-width: 2px;
  border-style: solid;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s all;
  z-index: 3;
  background-color: orangered;
  right: 0.56vw;
}
.addButton:before,
.addButton:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 4px;
}
.addButton:before {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-left-width: 2px;
  border-left-style: solid;
  left: 7px;
  top: 3px;
}
.addButton:after {
  border-top-width: 2px;
  border-top-style: solid;
  border-right-width: 2px;
  border-right-style: solid;
  left: 3px;
  top: 7px;
}
.addButton--active {
  border-color: orangered;
}
.addButton--active:before,
.addButton--active:after {
  border-color: white;
}
.encoche:hover + .addButton {
    scale: 1.2;
}
.addButton:hover {
    scale: 1.2;
}


.postLogin .website_container .list_site_cont::-webkit-scrollbar {
  width: 0.6vw;               /* width of the entire scrollbar */
}
.postLogin .website_container .list_site_cont::-webkit-scrollbar-thumb {
  background-color: #444444;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid darkgray;  /* creates padding around scroll thumb */
}

.list_account_cont .list_account::-webkit-scrollbar {
  position: absolute;
  width: 0.6vw;               /* width of the entire scrollbar */
  left: 1vh;
  z-index: 5;
}
.list_account_cont .list_account::-webkit-scrollbar-thumb {
  background-color: #444444;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid darkgray;  /* creates padding around scroll thumb */
  z-index: 5;
}

.underline{
  position: relative;
}
.underline::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 3px;
  background-color: orangered;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  top: 4vh;
}
.underline:hover::before{
  left: 0;
  right: auto;
  width: 100%;
}
